<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration monitorInterval="5" status="info">
  <!--定义日志文件 输入位置 -->
  <Properties>
    <Property name="logPath">./logs</Property>
  </Properties>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <!--输出日志的格式-->
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%F:%L) - %m%n"/>
    </Console>
    <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
    <RollingFile fileName="${logPath}/helloWorld.log" filePattern="${logPath}/helloWorld.log.%d{yyyy-MM-dd}.%i.log.gz"
      name="fileAppender">
      <PatternLayout
        pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%L) - %m%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <!-- 日志文件大小 -->
        <SizeBasedTriggeringPolicy size="200 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="24"/>
    </RollingFile>

    <RollingFile fileName="${logPath}/helloWorld-error.log" filePattern="${logPath}/helloWorld-error.log.%d{yyyy-MM-dd}.%i.log.gz"
      name="errorLog">
      <PatternLayout
        pattern="[%-5p][%d{yyyy-MM-dd HH:mm:ss.SSS}][%t][wsweb][2224][2224][LOG_POINT]%m%n"/>
      <ThresholdFilter level="error" onMatch="ACCEPT"
        onMismatch="DENY"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="200 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="24"/>
    </RollingFile>

    <Async bufferSize="512" name="asyncErrorLog">
      <AppenderRef ref="errorLog"/>
    </Async>
    <Async bufferSize="512" name="asyncInfo">
      <AppenderRef ref="fileAppender"/>
    </Async>
    <Async bufferSize="512" name="asyncConsole">
      <AppenderRef ref="console"/>
    </Async>
  </Appenders>

  <!--根据Logger和Root的定义写入相应的appender格式的日志 -->
  <Loggers>
    <Root level="info">
      <AppenderRef ref="asyncConsole"/>
      <AppenderRef ref="asyncInfo"/>
      <AppenderRef ref="asyncErrorLog"/>
    </Root>
  </Loggers>
</Configuration>